@font-face {
    font-family: "Sketchy"; /* Sketchy */
    src: url("./Sketchy-Regular.ttf") format("truetype"),
    /* If you're using otf its opentype if ttf it's trutype */    
}

.sketchy {
    /* class name dont matter*/
    font-family: "Sketchy", serif;
    /* has to be the same as font name*/
}



    